apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-gigya
spec:
  template:
    spec:
      containers:
        - name: server-gigya
          env:
            - name: OWNID__CALLBACK_URL
              value: https://bayer.ownid.com
            - name: OWNID__DID
              value: did:bayer:prod_822386385
            - name: OWNID__NAME
              value: Bayer
            - name: OWNID__DESCRIPTION
              value: Bayer
            - name: OWNID__ICON
              value: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAALWUlEQVRo3r2Zf3RV1ZXHP/ve+15+80NISCQolgqBqDR2SIIESBC1UvkRICIgC+uvtq5aa9txdbRDQ1er/UVnps7UKYNTihBqIgZEhcEFhAikhJ/iCuGHMQWkYiA/SnhJXt67d88fee8ljwRI8pg5a+213jtn7+/e333OvWefc4Ub1B6t4ss+SAduQUkVgzhRYh1AhRZDuYRyTk1Om8rHReM4fSP8Sn8NixXzreNMF5tFwEyFwX2EqBNho2FQVJRGuQj6/0LgsVqi2zw8ofB9hS9Flr9QFMcM+HXaONYWCv7/MwKPVDFf4Teq3NoDUI0Kuwz4SOCkI9SZ0Px3RkS1akqS30lIHCgnb8ax7/Jq0t0DrY/TRW3zCoxqNXm+eCz/c0MJLDzBUMfPf6kyJ8xY+BuwyrBYv34MxwEoKDA5Y08JAzBsL0OHHWHzyhYADqgr0V+WNdJakxtt1D2YHPX+RFGVLrir40y++99pNEdMYMEJJuBnoyo3d7E6Z8CyNFhbmE57mMH9S+JovHS5B0+1YEygsrQ+rH+nDhrsOvTUza7ND6TFv5JjqjcqoP+JaTEzlJj+EHikilmOsh6IDWTGAVa4h7D8jWQ8PRoFCYixCtNYAYDfmQzOSsRYSmXpmh7tyjUxjtofjYv9ac5t0aszA8E1qsGc4nGU95nAw9XMFJsNCq6A4heGyYL1Y9l1zSkLEZDTQE2gdwSqt2NZd1Ox4fA17XfqkwnG8SXTh04c79KmgQIeQ/ja+nR296Ru9NS5sIocHEpCwQtVpkHWdYMPb16UxoBcAMDRUde1ypNVzZL2/Oa6c8cu+ieeUIiz4f2FVaT3isDiU6Q6ylsoUcHgY93k9XnjUbYQFfsUUbFPYRrPdvRpRq9sp8ghvxG7dEfDnqhz7bOOoCQ4yqZFp7vvNWEEVBG/lzUKwwLB/80l3PfH2wMZ7BuD5/B6GvB6GrDtg4AHKO61+VQ5BfLInqZNqWfaHz6oMMq+zGtXqoU9AwuO8W11+H1gpN2CyUXpVPYp7txCi5YjBeFeDB+GWUFFybk+56FMZ+KwbvqQzM9vMvePFpN5b47l7W4EHqtlUEsLNSg3Bebmn4vH8bO+Z75Lm5C/GJEWKt8ujQhnh64R/HmzElNjoo0vmsfCmODrO7SE2lp4IRS8cGzcWH4RWfBz7gVnLWpv4J78OyLCiuKHihW/vWHPSVVGVgvfDg4ZAEvOE+fAM3T2/qivNUm3JhQichKRC/idn0SENUnqEH582T9qYk3bN/ep8v1ixQwRaK/nUZSBHX45WjyWzRE5zJ43HdUckJ+D/hZlHhNn3xkRZgIrES4evPT7Wx2NTtpwjIdCBIBFXbL/akSOAGx/IeABaQbOIuJgsywizH8QH1CEGskfe17eBywGkIUnGGr7OY9iCvhi4khafRtN/XaUlX8fjrOthxHFYjwVmz7uN/YuzcDPIcE+Ny85JibF7bvZ0HYmE1hPKpRFFDyAo4UgZ3GZI4nhFmK4Bbc7DaEZv0T2LEyVw8AxxRxe2/rEyQYfGZYafDV4FjKUDyNykFto4T3yPLbrAntLwnfuSQWZqD0gInwAYT/KuJOe55wvx/5nhiXKncGznAj7yS2Ip9WXH25ltGKYO6goaQjrzswfDWTjtsrYXXKGxCqDM4xB/ClAbZiu3f4VHDFQPUDW3CXdA1Nl38Y3ArgFQEznmHORmIxtlBX6gSqAZjvtLp8zYLSFMDw4AyLU0OYbiqNXlLw2qPMZOYvuYndRY6hb9Q+gubT7ioEFlJS0kzl7DKovkTl7MZWbigCYMOcH2PobDPkOy5cL6vyph9TawBsB3H8DTen0A3iOfADcHySAEn/G+6hlOJhJQb1hCXzWZapeIs6dQJw7AYynUU3F55kYGp+YPxU0F5EKVAuYMK+jWpyRsQyRbSB/IDN/NNnzsoBXQNayr/Q/OvHlNQYPiA/JoISBVzB6JzRm8DvQ+8iam4qr84Dzeet9CdZle2RLvFEDgv0vI2glO8T6eVp8SwPTmwz4cZudtbxflyPUEssMWuQTsH8CPExhoUNm/iLQg+CU4OhARKsZNuybYeEpC2lqnt6l5xTw9S4JzKSxeX2AbBbCZ/xlwzkquSl4Bmz0ZyQaje0ZTT0/LFKNsgVlC/AhioVXvwpA9pxc0KkoZXgkG7Qc1fmhkqGytB7M+ShjUAZhydzQebgzwL+ivBcSup01BIgGnQmARS4iYVcvXh2WaNT7s5sDGTGfPdVxBgiYV2Lp61j6OiJvBnQ6rlEcXR7Q+gY4W1DyAQkrGSo3HEDkU4SD7N1YQ/dWjWH+MSRibg2fIdnD/o33Y8gKVJPwkwlACwlBFVujYw2Ppp0PdtRBagjA0R/g5yh+juLoGoRaXPyZrLl5KFMw5EXE/aWQGLKiTyWD6kIc/0chUftQj3rjk/4JkQpgJZn5o3EY3WX0r9bFtuwmHSAqqqI+bmPwiA+pPxN+LWKKl6hBRylb3UZmQRwmOQwefoAtr3pDOrkFhbTZpTh0vqVMczHi+MKwCgsdsufmdF+ydufycBmzUelYGStX+sjMn4khaTimD+GO0B2eUC3s0BenDJqxINm95S6EF4vTeaVXGbxayy20aDn8cPcBw0dlaUlE2AA79HWUxzsgedLCoLra80JjsnsLAjkRwoO7JgoP67pnWC8DkROAu0O/HKoNXOy50D51rK0JHmDaM1XE3wAngPwrcTI4JANcqRFDlus4lK8E/l0ihsNGx2FB9h/xrNivSnSDkB+Jj874WUILe0NyybcyYkw/S7vgv8U90ho8D6ypaXlirK0xrY7ynRtCQDkNbO8UORAZnppA1xpqDQQPNMI7qBG959LGSpTMhVVMi5iAyCHE9VpIXNY7EeGV8ShKSiDe0+R1XDd2EMiTNmDV+bb7c+p8U6pt+JVq/z9+dGTMeRKnvSokPl//Z2CnDsLhV53Y/HtwV+682IrjpwgXyhu3uX06cPQj1Xy3X87uGdWKKXndROTB/ieDl4GkQPZPkMzvgkOdBLLlEsI/Oho1amt91XFHjZ9d7T7yuk20PkwMzvKXt/f0C2uHTkXpLAQNniVdQlf63ZfJdi0HJt/k2ld+75CJKa54zSq6tcvuer12te8DsIe4wdMpW93Wh+DTgd0ogwLRbmCazO+q0v122s1jQF2DL2vKBw2Hz/uazXcfP95ZQPV+FliHMCUgLwGT8DTN6rX9Tk0FtnYJvpaoLndXVyUwWT7F5CHA09Q+fvJ79bVmvS/p7W+cIrFPBJSRKNMDktURhJztle0uvR3lAzRUXNbj4mtMkrrrEwDIlf0ICwC7xT8i650Ln42pufzAugUnGN8HChmIfAvhBWAWYrxMZWlFLzI/Bz8HUNICmW/FZCaT5WRP6sZVgabJexgsRWhTdY0ob9yat/3C7t/O+Oj25woV67qBiPEqlRuHYXIvgh/02i+EjzSOnfprHEqBAYHgm4H55MpViRvXBM2TdUAOwmkU66J30rT360/8eOXezUXTjk56sFd7RcWmvWC8iOpssuZ8r4eMR7NTv8dFPsXhh11GjgETmCbvXzNP1w0AYJ8OwcM6lAe69HrirU+2D3Ad23RH3C/f3TZ+b8f6fPppF0fqvgVyILRkVIWs/MdBLW51r6KkxGaX3onNTJRngOFXRPUmQ3iC8eK5Xmi9321VDXawFGEZysgrRv9uGi0V6hgHLct/VC1vrWE6TV5JbMCLG0jBTzJCCsrdKA8Bt/TgpRqDZeTJW70Nq+/lQpW6+YInUV6CLt+OI2ufIiwnj7WIOH0x7H+9s1dj8PL1QDZnoH18zcI5hPcweJd4tgZun/vcIivYgk3VoIxMHHKB4QgpQDJKCoKD8jlwHuFzlLNYbA9c1Ebc/hcPSo7AjmGCsAAAAABJRU5ErkJggg==
            - name: OWNID__PUB_KEY
              valueFrom:
                secretKeyRef:
                  name: bayer-secret
                  key: public_key
            - name: OWNID__PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: bayer-secret
                  key: private_key
            - name: TFA_ENABLED
              value: 'false'
            - name: OWNID__TOP_DOMAIN
              value: bayer.com
            - name: GIGYA__DATA_CENTER
              value: eu1.gigya.com
            - name: GIGYA__SECRET
              valueFrom:
                secretKeyRef:
                  name: bayer-secret
                  key: gigya_secret
            - name: GIGYA__API_KEY
              valueFrom:
                secretKeyRef:
                  name: bayer-secret
                  key: gigya_api_key
            - name: GIGYA__USER_KEY
              valueFrom:
                secretKeyRef:
                  name: bayer-secret
                  key: gigya_user_key
            - name: SERVER_MODE
              value: pilot
            - name: Metrics__Enable
              value: 'true'
            - name: Metrics__Namespace
              value: 'Bayer'